@import '../../styles/main.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:128px;
    padding-right:128px;
}
.container_img {
  display: flex;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 28px;
  width: 500px;
  height: 500px;
}
.wrap{
    margin:24px;
    display: flex;
    justify-content:space-between;
}
.wrap h2{
    color:var(--main-text-color);
    font-family: inherit;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: calc(32px / 20px); 
}
.wrap_text{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap:24px;
    color:var(--main-text-color);
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: calc(20px / 14px); 

}
.wrap_list{
    display: flex;
    flex-direction: column;
    gap:12px;
}
.wrap_list>li::before {
  content: url("../../img/bubbles4.svg");
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

